<div class="container">
  <div class="row">
        <center>
          <div class="col-md-12">
        <h2>Search Products</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form method="POST">
                      <center>
                          <table>
                          <tr>
                            <td>
                               
                              <input type="text" name="searchProductbox" class="form-control input-lg" placeholder="Type products name here..." style="width: 1000px" />
                               
                            </td>
                            <td>
                              <span class="input-group-btn">
                                <input type="submit" name="" value="Search" class="btn btn-info btn-lg">
                                
                              </span>
                            </td>
                          </tr>
                        </table>
                      </center>
                      
                      
                    </form>
                </div>
            </div>
        </div>
        </center>
  </div>
</div>

<div class="container">
    <div>
      <h2 style="margin-left: 15px;">All products</h2>
    </div>
  	<div class="row">
    	<div class="container">
      
	        <% for(var i = 0; i < products.length; i++) {%>
                <div class="col-md-3 col-sm-6">
                  <span class="thumbnail">
                      <img style="height:220px; width:220px; margin:auto;display: block;padding: 20px;" src="/images/<%= products[i].img_path %>" alt="...">
                      <h4 style="margin:auto;text-align: center;"><%= products[i].title %></h4>
                      <div class="ratings" style="margin:auto;text-align: center;>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star-empty"></span>
                       </div>
                      <p><%= products[i].short_desc %></p>
                      <p>Stock: <%= products[i].stock %></p>
                      <hr class="line">
                      <div class="row">
	                        <div class="col-md-6 col-sm-6">
	                          <p class="price">BDT <%= products[i].price %></p>
	                        </div>
	                        <div class="col-md-6 col-sm-6">
	                         <a href="/user/cart/<%= products[i].id %>"   ><button class="btn btn-info right" > Add to cart</button></a>
	                        </div>

                      </div>
                  </span>
                </div>
               <%}%>
	       
	    </div>
    </div>
</div>